<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MedAdmin - Bootstrap Admin Dashboard  </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/Admin/images/favicon.png">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/jqvmap/css/jqvmap.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/css/style.css">
    <link rel="stylesheet" href="~/Assets/Admin/css/medical-skin.css">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        @Html.Partial("_NavHeader")
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        @Html.Partial("_Header")
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        @Html.Partial("_SideBar")
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">

                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignlab.com/" target="_blank">DexignLab</a> 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
        <!--**********************************
           Support ticket button start
        ***********************************-->
        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Assets/Admin/vendor/global/global.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Assets/Admin/js/custom.min.js"></script>
    <script src="~/Assets/Admin/js/dlabnav-init.js"></script>

    <!-- Vectormap -->
    <script src="~/Assets/Admin/vendor/chart.js/Chart.bundle.min.js"></script>


    <!-- Counter Up -->
    <script src="~/Assets/Admin/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Assets/Admin/vendor/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- Demo scripts -->
    <script src="~/Assets/Admin/js/dashboard/dashboard.js"></script>

    <!-- Svganimation scripts -->
    <script src="~/Assets/Admin/vendor/svganimation/vivus.min.js"></script>
    <script src="~/Assets/Admin/vendor/svganimation/svg.animation.js"></script>
    <script src="~/Assets/Admin/js/styleSwitcher.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/pagination.js"></script>


    @RenderSection("MyScript", required: false)

</body>
</html>